body {
    background-color: black;
    user-select: none;
}

* {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

button:hover {
    cursor: copy;
    filter: brightness(90%);
}



#telaPC {
    position: fixed;
    height: 100%;
    width: 85%;
    left: 0%;
    top: 35px;
    word-break: break-all;
    overflow: auto;
}


#palavraPC {
    position: absolute;
    word-wrap: break-word;
    width: 100%;
    height: 100%;
    background-color: transparent;
    user-select: text;
    cursor: text;
    border: none;
    font-size: xx-large;
}

#stuffs {
    position: fixed;
    background-color: black;
    color: white;
    width: max-content;
    text-align: center;
    right: 0;
    width: 15%;
    top: 0;
}

#stuffs li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    margin-top: 6px;
}

#copiarPC {
    border: none;
    position: fixed;
    right: 0%;
    width: 15%;
    height: 49%;
    background-color: whitesmoke;
    box-shadow: 10px 10px 10px 10px black;
    opacity: 80%;
    height: 100%;
}

#configLista {
    background-color: black;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    justify-content: center;
    padding: 0;
    align-items: center;
}

#configLista li {
    list-style: none;
    padding: 6px;
}

#diversos,
#letras,
#numeros,
#letras_numeros,
#alf,
#pal {
    border-radius: 2px;
    width: 100%;
    cursor: pointer;
    border: none;
    padding: 0;
    height: 30px;
    display: flex;
    justify-items: center;
    align-items: center;
}

#diversos {
    background-color: #F2F3F4;
    opacity: 85%;
}

#letras {
    background-color: #F56E0F;
}

#numeros {
    background-color: yellow;
}

#letras_numeros {
    background-color: wheat;
}

#alf {
    background-color: aquamarine;
}

#pal {
    background-color: #2b2b2b;
    color: #F2F3F4;
}

.hidden {
    display: none !important;
}


#Qp {
    display: block;
    width: 80px;
    border: none;
    border-radius: 2px;
    background-color: snow;
    padding: 0%;
    text-align: center;
    height: 20px;
    padding: 3px;
    font-size: x-large;
}

.bloquear {
    pointer-events: none;
    background-color: red;
    color: black;
    opacity: 50%;
}

.letrasNumerosPCor {
    background-color: wheat;
}

.letrasPCor {
    background-color: #F56E0F;
}

.numerosPCor {
    background-color: gold;
}

.diversosPCor {
    background-color: #F2F3F4;
    opacity: 85%;
}

.alfabetosPCor {
    background-color: darkseagreen;
}

.palPcor {
    background-color: #2b2b2b;
}

.palPcor #palavraPC {
    color: white;
}

#mudar_Array {
    border: none;
    background-color: transparent;
    font-size: large;
    text-align: center;
    cursor: pointer;
    color: white;
    color: grey;
}